doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/c3.min.css')
        script(src='/socket.io/socket.io.js')
    body
        block content
        script(src='/js/d3.v3.min.js')
        script(src='/js/c3.min.js')
        //script(src='https://www.gstatic.com/firebasejs/3.7.2/firebase.js')
        //script(src='/js/canvasjs.min.js')
        //script(src='/js/fastcompressor.js')
        script(src='/js/mousetrap.min.js')
        script(src='/js/classes.js')
        script(src='/js/main.js')
